@tailwind base;
@tailwind components;
@tailwind utilities;

#ScrolltoTop{
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    background: #fff url("/images/icons8-scroll-up-100.png");
    border-radius: 50%;
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 100000;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    background-color: darkgray;
}
   
 
#ScrolltoTop.active{
 visibility: visible;
 opacity: 1;
}